.clearfix {
  clear: both; }

#header {
  background: #006CB7;
  padding: 20px; }
  #header > a {
    float: left; }
    #header > a img {
      width: 102px; }
  #header p {
    margin: 0;
    float: right;
    color: white; }
    #header p span {
      color: #FCAF1A; }
    #header p a {
      color: white;
      text-decoration: dashed; }

.btn {
  font-size: 12px;
  color: #FFFFFF;
  border-radius: 4px;
  background: linear-gradient(#01c2fb, #03a7ff);
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  display: inline-block; }
  .btn:active {
    background: linear-gradient(#03a7ff, #01c2fb); }

#box-container {
  text-align: center;
  padding-top: 50px; }
  #box-container .box {
    text-align: left;
    float: left;
    width: 400px;
    padding: 10px 20px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #d3d3d3;
    margin: 10px 20px; }
    #box-container .box .section {
      padding: 10px 0 20px 0; }
    #box-container .box h3 {
      font-size: 18px;
      font-weight: bold;
      color: #303030; }
    #box-container .box p {
      font-size: 14px;
      color: #70747c; }
    #box-container .box.active .house-rules {
      display: block; }
    #box-container .box .house-rules {
      display: none; }
      #box-container .box .house-rules h3 {
        padding-bottom: 20px; }
    #box-container .box .sep {
      height: 1px;
      background: #d3d3d3; }
    #box-container .box .box-footer {
      text-align: right; }

/*# sourceMappingURL=custom.css.map */
