//define colors:

$primaryColor:#006CB7;
$secondaryColor:#FCAF1A;
$btnColor: linear-gradient(#01c2fb, #03a7ff);
$btnColorActive: linear-gradient(#03a7ff,#01c2fb);
$headerTextColor:#303030;
$bodyTextColor:#70747c;

.clearfix{clear: both}

#header{
  background: $primaryColor;
  padding: 20px;
  &>a{
    float: left;
    img{
      width: 102px;
    }
  }
  p{
    margin: 0;
    float: right;
    color: white;
    span{
      color: $secondaryColor;
    }
    a{
      color: white;
      text-decoration: dashed;
    }
  }
}

.btn{
  font-size: 12px;
  color:#FFFFFF;
  border-radius: 4px;
  background: $btnColor;
  text-decoration: none;
  padding: 10px;
  margin-top:10px;
  display: inline-block;
  &:active{
    background: $btnColorActive;
  }
}

#box-container{
  text-align: center;
  padding-top: 50px;
  .box{
    text-align: left;
    float: left;
    width: 400px;
    padding: 10px 20px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #d3d3d3;
    margin: 10px 20px;
    .section{
      padding:10px 0 20px 0;
    }
    h3{
      font-size: 18px;
      font-weight: bold;
      color:$headerTextColor;
    }
    p{
      font-size: 14px;
      color:$bodyTextColor;
    }
    &.active{
      .house-rules{
        display: block;
      }
    }
    .house-rules{
      display: none;
      h3{
        padding-bottom: 20px;
      }
    }
    .sep{
      height: 1px;
      background: #d3d3d3;
    }
    .box-footer{
      text-align: right;

    }
  }
}