<div id="box-container">
    <script id="box-template" type="x-handlebars-template">​
    {{#each this}}
    <div class="box">
        <div class="section">
            <h3><img src="../../../images/icon-description.png" alt="Description"/> Description</h3>
            <div class="sep"></div>
            <p>{{description}}</p>
        </div>
        <div class="house-rules section">
            <h3>House Rules</h3>
            <p>{{houseRules}}</p>
        </div>
        <div class="box-footer">
            <div class="sep"></div>
            <a href="" class="btn">Show more</a>
        </div>
    </div>
    {{/each}}
    ​</script> 
</div>