<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Description Module</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/application.css -->
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/application.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
  </head>
  <body>
    <header id="header">
        <a href="http://www.wimdu.com/">
            <img src="images/logo.svg" alt="logo"/>
        </a>
        <p>Made with <span>❤</span> by <a href="https://www.linkedin.com/profile/view?id=217605907">Ramy Selim</a></p>
        <div class="clearfix"></div>
    </header>
    <div id="box-container">
        <script id="box-template" type="x-handlebars-template">​
            {{#each this}}
            <div class="box">
                <div class="section">
                    <h3><img src="images/icon-description.png" alt="Description"/> Description</h3>
                    <div class="sep"></div>
                    <p>{{description}}</p>
                </div>
                <div class="house-rules section">
                    <h3>House Rules</h3>
                    <p>{{houseRules}}</p>
                </div>
                <div class="box-footer">
                    <div class="sep"></div>
                    <a href="" class="btn">Show more</a>
                </div>
            </div>
            {{/each}}
        ​</script> 
    </div>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/handlebars/handlebars.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/houseModule.js"></script>
    <!-- endbuild -->
  </body>
</html>
